@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import "tailwindcss";

@theme {
  --font-playfair: "Playfair Display", serif;
  --font-inter: "Inter", sans-serif;
}

.g4-heading-1 {
  @apply font-playfair text-5xl;
}

.g4-heading-2 {
  @apply font-playfair text-[36px];
}

.g4-heading-3 {
  @apply font-playfair text-[30px];
}

.g4-large-body {
  @apply font-inter font-medium text-[24px];
}

.g4-body {
  @apply font-inter text-[16px];
}

.g4-button {
  @apply font-inter font-semibold text-[16px];
}

.g4-caption {
  @apply font-inter text-[16px];
}

.g4-subcaption {
  @apply font-inter text-[14px];
}

@theme {
  /* Group 4 Blue */
  --color-g4-50: #eaf6fb;
  --color-g4-400: #89cff1;
  --color-g4-500: #6eb1d6;
  --color-g4-600: #5293bb;
  --color-g4-700: #3776a1;
  --color-g4-800: #1b5886;
  --color-g4-900: #003a6b;
}
